input {
    outline: none;
}

p {
    color: #404040;
    cursor: pointer;
}

#container{
    padding-left: 10px;
    padding-right: 10px;
}

#editBtn, #deleteBtn{
    border: none;
    outline: none;
    background-color: transparent;
}

#arrowBtn{
    outline: none;
    background-color: transparent;
    border: none;
}

.groupButtons{
    float: right;
    display: inline-block;
}

#editBtn,#deleteBtn{
    border-radius: 2px;
    transition: background-color 150ms ease-in-out;
}

.title{
    background: none;
    border: none!important;
    color: #404040;
    cursor: pointer;
    width: 55%;
}

.editing {
    color: #404040;
    cursor: text;
}

.button_image{
    width: 22px;
    height: 22px;
}

