nav.right {
    position: relative;
    float: right;
	z-index: 10090000;
	
}

a {
    text-decoration: none;
    cursor: pointer;
}
.btn{
	background-color: transparent;
	border: none;
	outline: none;
}

.btnImage{
    height: 39px;
}

menu {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}




  
  