nav.right {
	position: fixed;
	z-index: 10070000;
	display: block;
	border-radius: 0px;
	width: 50px;
	margin-left: 200px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn{
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0px;
}

.btnImage{
    height: 50px;
	width: 50px;
}

menu {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}




  
  