<div *ngIf="isAuth()">
  <nav class="right">
      <button class="loginBtn" (click)="switchToLogoutWindow()">
        <img class="btnImage" src="icon_user_signed_in.png" alt="login">
      </button>
   
  </nav>
  <postnote2-app></postnote2-app>
  
  <div *ngIf="isLoggingOut()">
    <logout-user class="logout_user" (emitLogout)="logoutUser()"></logout-user>
  </div>
</div>

<div *ngIf="switchTo()">
  <div *ngIf="!isAuth()">  
    <postnote2-app></postnote2-app>
  </div>
</div>
 
  <div *ngIf="!isAuth()">  
    <nav class="right">
      <button class="loginBtn" (click)="switchToLoginWindow()">
        <img class="btnImage" src="icon_user_signed_out.png" alt="login">
      </button>
    </nav>
    
    <div *ngIf="isLoggingIn()">
      <login-user (emitCreateUserAccount)="createUserAccount()"></login-user>  
    </div>
    
    <div *ngIf="isCreatingAccount()">
      <create-user-account (emitLoginUserAccountWindow)="loginUser()"></create-user-account>
    </div>
    
    <postnote2-app></postnote2-app>
</div>