nav.right {
	position: fixed;
	z-index: 500;
	display: block;
	border-radius: 0px;
	width: 100%;
	height: 1px;
}

a {
    text-decoration: none;
    cursor: pointer;
}
<<<<<<< HEAD
/*
.btn{
	background-color: transparent;
	border: none;
	outline: none;
	padding: 10px;
	
=======

.loginBtn{
	background-color: transparent;
	border: none;
	outline: none;
	right: 10px;
	top: 7px;
	position: relative;
	float: right;
>>>>>>> 524abcb53d559d919d428af566a4a5e642096b3a
}

.btnImage{
    height: 30px;
	width: 30px;
}

*/
menu {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}
divul .btn{
	float: right;
}




  
  