<div *ngIf="isAuth()">
  <nav class="right">
    <ul>
      <button class="btn">
        <span (click)="switchToLogoutWindow()"><img src="user_icon.png" alt="Logout"></span>
      </button>
    </ul>
  </nav>
  <postnote2-app></postnote2-app>
  <div *ngIf="isLoggingOut()">
    <logout-user (emitLogout)="logoutUser()"></logout-user>
  </div>
</div>

<div *ngIf="!switchTo() && !isLoggingOut()">
  <div *ngIf="!isAuth()">
    <menu></menu>
    <nav class="right">
      <ul>
        <li><a (click)="switchToCreateAccountWindow()">Create account</a></li>
      </ul>
    </nav>
    <login-user></login-user>
  </div>
</div>

<div *ngIf="switchTo() && !isLoggingOut()">
  <div *ngIf="!isAuth()">
    <menu></menu>
    <nav class="right">
      <ul>
        <li><a (click)="switchToLoginWindow()">Login</a></li>
      </ul>
    </nav>
    <create-user-account></create-user-account>
  </div>
</div>