.colorpicker_container {
    width: 80px;
    height: 150px;
    position: relative;
}

.colorpicker {
    height: 120px;
    width: 80;
    box-shadow: 0px 1px 5px gray;
    margin-bottom: 1px;
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 3px;
}

.first_line .second_line .third_line {
    height: 60px;
}

.color_button {
    border-radius: 2px;
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url("icon_palette.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    bottom: 0;
    right: 0;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: transparent;
    transition: box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
}

.showing_colors {
    display: block;
}

.color_div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    float: left;
    box-shadow: 0px 1px 3px dimgray;
}

.pink_color {
    background-color: #F490B7;
}
.pink_color:hover {
    border: 2px solid #C25E85;
}

.orange_color {
    background-color: #FFA334;
}

.orange_color:hover {
    border: 2px solid #CD7102;
}

.magenta_color {
    background-color: #F56D7E;
}

.magenta_color:hover {
    border: 2px solid #C33B4C;
}

.blue_color {
    background-color: #8FD3CE;
}

.blue_color:hover {
    border: 2px solid #5DAB9C;
}

.yellow_color {
    background-color: #EEF66C;
}

.yellow_color:hover {
    border: 2px solid #BCC40A;
}

.green_color {
    background-color: mediumseagreen;
}

.green_color:hover {
    border: 2px solid #0A813F;
}

@media all and (min-width: 600px) {
  .color_button {
   height: 40px;
   width: 40px;  
}

}

@media all and (min-width: 768px) {
  .color_button {
   height: 35px;
   width: 35px;  
}

}