.colorpicker_container {
    width: 80px;
    height: 150px;
    position: relative;
}

.colorpicker {
    height: 120px;
    width: 80;
    box-shadow: 0px 1px 5px gray;
    margin-bottom: 1px;
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    
}

.first_line .second_line .third_line {
    height: 60px;
}

.color_button {
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.color_button:hover {
    background-color: #EEEEEE;
    box-shadow: 0px 1px 5px #5A5A5A;
}

.showing_colors {
    display: block;
}

.color_div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    float: left;
    box-shadow: 0px 1px 3px gray;
}

.pink_color {
    background-color: #F490B7;
}

.orange_color {
    background-color: #FFA334;
}

.magenta_color {
    background-color: #F56D7E;
}

.blue_color {
    background-color: #8FD3CE;
}

.yellow_color {
    background-color: #EEF66C;
}

.green_color {
    background-color: mediumseagreen;
}