<div class="colorpicker_container">
    <div class="colorpicker" [class.showing_colors]="showingColors">
        <div class="first_line">
            <div class="color_div pink_color">
            </div>
            <div class="color_div magenta_color">
            </div>
        </div><br>
        <div class="second_line">
            <div class="color_div orange_color">
            </div>
            <div class="color_div yellow_color">
            </div>
        </div><br>
        <div class="third_line">
            <div class="color_div blue_color">
            </div>
            <div class="color_div green_color">
            </div>
        </div> 
    </div>
    <button type="button" class="color_button" (click)="colorButtonClick()">Färg</button>
</div>