
.creator {
  overflow: auto;
  background-color: #EEF66C  ;
  box-shadow: 0px 3px 10px gray;
  max-height: 300px;
  max-width: 300px;
  margin: 10px;
  display: table-cell; 
  float: left;
}

.inputTitle {
   height: 28px;
   width: 200px;
   font-size: 25px;
   margin-left: 50px;
   margin-top: 5px;
   text-align: center;
   background-color: #EEF66C;
   border: none;
   outline: none;
   /*border: dashed 1px black;*/
}

.inputTitle::-webkit-input-placeholder {
    color: #505050;
}

/*
.inputTitle:focus {
  border: dashed 1px black;
}
*/

.inputText {
   width: 280px;
   height: 219px;
   margin: 10px;
   margin-bottom: 0;
   padding: 5px;
   background-color: #EEF66C;
   overflow: scroll;
   resize: none;
   border: none;
   outline: none;
   overflow: auto;
   /*border: dashed 1px black;*/
}

.inputText::-webkit-input-placeholder {
    color: #505050;
}

/*
.inputText:focus {
   border: dashed 1px black;
   width: 278px;
}
*/

#saveButton {
   float: right;
   border-radius: 2px;
   margin-right: 6px;
   margin-top: 6px;
   outline: none;
   transition: box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
}

#saveButton:hover {
   box-shadow: 0px 1px 5px #5A5A5A;
   background-color: #EEEEEE; 
}

note {
    margin: 10px;
    width: 300px;
    height: 300px;
}

.col-xs-4 {
  padding: 0px;
}

dropdown {
  border: none;
}