<div id="container">

    <!--<div class="creator">
        <input type="text" [(ngModel)]="title" class="inputTitle" placeholder="Enter title ..." maxlength="18">-->

    <img class="createButton" src="icon_fab.png" (click)="open()">
    <!--<img class="createButton" id="noCategoryButton" src="icon_fab_active.png" (click)="save()">-->

    <div id="groupButtons">
        <!--<button *ngFor="let group of groups" class="categoryButton" style="bottom: den första + 20px" 
            [class.categoryButtonVisible]="categoriesVisible">{{group.name}}</button>
    </div>
    <div *ngIf='_authData != null'>
        <li *ngFor="let group of groups | async" (click)="selectGroup(group.name)">
            <a class="dropdown-item" href="#">{{group.name}}</a>
        </li>-->
    <!--<button class="categoryButton" id="S" [class.categoryButtonVisible]="categoriesVisible">S</button>-->
    </div>

    
    <!--<textarea class="inputText" [(ngModel)]="text" placeholder="Your notes ..." name="inputText" cols="30" rows="10"></textarea>
        <dropdown [group]="selectedGroup" (changeGroup)="groupChanged($event)"></dropdown>
    </div>-->

    <!--<note class="col-xs-4" *ngFor="let note of notes | async" [dragula]='"bag-creator"' [dragulaModel]='notes' [noteInNote]="note" [text]="note.text" [title]="note.title" [group]="note.group" id="{{note.$key}}" [color]="note.color">-->
    <!--</note>-->

    <div *ngIf='_authData != null'>
        <div class="myDragulaContainer" [dragula]='"drag-bag"'>
            <note class="col-xs-4" *ngFor="let note of notes | async | reverse" [noteInNote]="note" [text]="note.text" [title]="note.title"
                [group]="note.group" id="{{note.$key}}" [color]="note.color">
            </note>
        </div>
    </div>
    <div *ngIf='_authData == null'>
        <div class="myDragulaContainer" [dragula]='"drag-bag"'>
            <note class="col-xs-4" *ngFor="let note of notes | reverse" [noteInNote]="note" [text]="note.text" [title]="note.title" [group]="note.group"
                id="{{note.$key}}" [color]="note.color">
            </note>
        </div>
    </div>
</div>