<div id="container" class="row">
    <div *ngIf='_authData != null'>
        <div class="myDragulaContainer" [dragula]='"drag-bag"'>

            <note class="noteContainer col-xs-12 col-m-6 col-sm-4 col-md-4 col-lg-3"
                *ngFor="let note of notes | async | reverse" [noteInNote]="note"
                [text]="note.text" [title]="note.title" [group]="note.group"
                id="{{note.$key}}" [color]="note.color" (noteChanged)="noteChanged()">
            </note>
        </div>
    </div>
    <div *ngIf='_authData == null'>
        <div class="myDragulaContainer" [dragula]='"drag-bag"'>

            <note class="noteContainer col-xs-12 col-m-6  col-sm-4 col-md-4 col-lg-3"
                *ngFor="let note of notes | reverse" [noteInNote]="note"
                [text]="note.text" [title]="note.title" [group]="note.group"
                (noteChanged)="noteChanged()" id="{{note.$key}}" [color]="note.color">

            </note>
        </div>
    </div>


    <div class="shadow" *ngIf='categoriesVisible' (click)="hideCategoryButtons()"></div>

    <div class="createButtonContainer">
        <img class="createButton" src="icon_fab.png" (click)="open()">
        <img class="createButton noCategory" *ngIf='categoriesVisible' src="icon_fab_active.png"
            (click)="save('noGroup')">
        <p class="noCategoryHint" *ngIf="categoriesVisible">No category</p>
    </div>

    <div *ngIf='_authData == null && categoriesVisible' id="categoryButtonContainer"
        (click)="hideCategoryButtons()">
        <div class="hintButtonContainer" *ngFor="let group of groups">
            <button class="categoryButton" (click)="save(group.name)" *ngIf="categoriesVisible">{{group.name | uppercase | firstLetter }}</button>
            <p class="categoryHint" *ngIf="categoriesVisible">{{group.name}}</p>
        </div>

    </div>
    <div *ngIf='_authData != null && categoriesVisible' id="categoryButtonContainer"
        (click)="hideCategoryButtons()">
        <div class="hintButtonContainer" *ngFor="let group of groups | async">
            <button class="categoryButton" (click)="save(group.name)" *ngIf="categoriesVisible">{{group.name | uppercase | firstLetter }}</button>
            <p class="categoryHint" *ngIf="categoriesVisible">{{group.name}}</p>
        </div>
    </div>


</div>