<div id="container">
    
    <div class="creator">
    <input type="text" [(ngModel)]="title" class="inputTitle" placeholder="Enter title ..."> 
    
    <input id="saveButton" type="image" src="icon_post.png" alt="Submit" width="25" height="25" (click)="save()">
    <textarea class="inputText" [(ngModel)]="text" placeholder="Your notes ..." name="inputText" cols="30" rows="10"></textarea>
    <dropdown [group]="selectedGroup" (changeGroup)="groupChanged($event)"></dropdown>
    </div>
 
    <note class="col-xs-4" *ngFor="let note of notes | async" [noteInNote]="note" [text]="note.text" [title]="note.title" id="{{note.$key}}">
    </note>

</div>