.group_button {
    width: 120px;
    height: 25px;
    margin-left: 6px;
    margin-bottom: 6px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.group_button:focus {
    background-color: white;
    box-shadow: 0px 1px 5px #5A5A5A;
}

.group_button:hover .caret{
    display: block;
}

.group_button:hover #group_name {
    text-decoration: underline;
}

#group_name {
    float: left;
    margin-left: 5px;
    color: gray;
    font-size: 10px;
}

.caret {
    display: none;
    float: right;
    margin: 5px;
}

.btn-group.open .dropdown-toggle {
    background-color: white;
    box-shadow: 0px 1px 5px #5A5A5A;
}

ul {
    margin-left: 3px;
}