<div (click)="$event.preventDefault()">  
  <div class="btn-group dropup" dropdown [(isOpen)]="status.isopen">
    <button type="button" class="group_button" dropdownToggle [disabled]="disabled"><span id="group_name">Ingen grupp</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
      <li *ngFor="let group of groups | async" (click)="selectGroup(group.name)">
          <a class="dropdown-item" href="#">{{group.name}}</a>
      </li>
    </ul>
  </div>
</div>