.group_button {
    width: 45px;
    height: 45px;
    margin-left: 6px;
    margin-bottom: 6px;
    padding: 0px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: transparent;
    transition: box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
}

.dropdown_image {
    background-image: url('icon_group.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

ul {
    margin-left: 3px;
}

.dropdown-menu {
    max-height: 120px;
    overflow: auto;
}

.dropup .dropdown-menu {
    margin-bottom: 4px;
}