<div class="groupContainer">
<input class="group_name" id="group_name" type="text" [(ngModel)]="groupName" maxlength="18" contenteditable="true" (keypress)="enterKey($event.keyCode)">
<input class="delete_button" type="image" src="icon_delete.png" alt="submit" width="30" height="30" (click)="deleteGroup()">
<hr class="line">
</div>
<note class="col-xs-4" *ngFor="let note of notes | async" [noteInNote]="note" [text]="note.text" [title]="note.title" [group]="note.group" id="{{note.$key}}"></note>
