.groupContainer:hover .delete_button {
    visibility: visible;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #808080, #FFFFFF);
}

.group_name {
    border: none;
    outline: none;
    font-size: 28px;
    display: inline-block;
}

.delete_button {
    border: none;
    outline: none;
    visibility: hidden;
    margin-left: 10px;
}

.delete_button:hover {
  box-shadow: 0px 1px 5px #5A5A5A ;
  background-color: #F44336 ;
}

.col-xs-4 {
  padding: 0px;
}
