.group_title {
    margin: 5px;
    margin-right: 10px;
    float: left;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #808080, #FFFFFF);
}

.col-xs-4 {
  padding: 0px;
}