.navbar {
    border-radius: 0px;
    position: relative;
    position: fixed;
    display: block;
    height: 100%; 
    z-index: 10000;
    overflow:scroll;
}
ul{
    color: white;
}

.navbar-brand{
    padding-left: 40%;
}
#menu-toggle{
    color: white;
}
#menu-toggle span{
      font-size: 1.5em;
      margin-top: 15px;
}
hr{
    align:left;
    width: 90%;
}


#sidebar_menu{
    width: 100%;
}

#addBtn{
    width: 90%;
    margin-left: 5%;
    margin-right :5%;
}

#categoryInput{
    margin: 10px;
    width: 80%;
    float:left;
    margin-right: 0px;
}

#plusBtn{
    float:right;
    margin-top: 10px;
    width: 15%;  
}

.footer{
    text-align: center;
    bottom: 0px;
    background-color:#222;

}
.footer hr{
    margin-top: 0px;
}
.footer-text{
    color: white;
}

#wrapper ul{
    cursor: pointer;
}
#wrapper ul:hover{
    background-color:#0099ff;
}
