.navbar {
    border-radius: 0px;
    position: fixed;
    display: block;
    height: 100%; 
    overflow:scroll;
}
ul{
    color: white;
}

.navbar-brand{
    padding-left: 40%;
}
#menu-toggle{
    color: white;
}
#menu-toggle span{
      font-size: 1.5em;
      margin-top: 15px;
}
hr{
    align:left;
    width: 90%;
}

#sidebar_menu{
    width: 100%;
}

#addBtn{
    width: 90%;
    margin-left: 5%;
    margin-right :5%;
}

#categoryInput{
    margin: 10px;
    width: 80%;
    float:left;
    margin-right: 0px;
}

#plusBtn{
    float:right;
    margin-top: 10px;
    width: 15%;
    
}
