<nav class="navbar  wow fadeInLeft" data-wow-duration=".35s"
  data-wow-delay="0s">
    <!-- Sidebar -->
    <br/>
    <div *ngIf='_authData == null'>
      <p *ngFor="let note of titles | reverse" (click)="jumpToNote(note.$key)">
        {{note.title}}
      </p>
    </div>
    <div *ngIf='_authData != null'>
      <p *ngFor="let note of titles | async | reverse" (click)="jumpToNote(note.$key)">
        {{note.title}}
      </p>
    </div>
    <hr>
    <button class="addBtn btn btn-info btn-xs" [class.cancelable]="showingCancel"
      (click)="toggleInput()">
         {{buttonText}}
       </button>
    <form *ngIf="adding">
      <input [(ngModel)]="groupName" type="text" id="categoryInput" placeholder="Name"
        (keyup.enter)="addGroup()" maxlength="12">
      <button id="plusBtn" type="button" (click)="addGroup()">
        +
      </button>
    </form>
    <hr>
    <div *ngIf='_authData == null'>
      <menuGroup *ngFor="let group of myGroups" [group]="group" (groupsChanged)="groupsChanged(groups)"></menuGroup>
    </div>
    <div *ngIf='_authData != null'>
      <menuGroup *ngFor="let group of myGroups | async" [group]="group"
        (groupsChanged)="groupsChanged(groups)">
      </menuGroup>
    </div>
    <!--</div>-->
    <!-- <script>
    (function delaySidebar() {
             
        
        function myTimeout1() {
                document.getElementById("delayNav").innerHTML = "2 seconds";
                console.log("Före delay");
                document.getElementById("delayNav").webkitAnimationName = "fadeInLeft 1s "; // Code for Chrome, Safari and Opera
                document.getElementById("delayNav").animationName = "fadeInLeft 1s ";
        }


})();
  </script>-->

  </nav>