<nav class="navbar fadeInLeft">
  <!-- Sidebar -->
  <br/>
  <div *ngIf='_authData == null'>
    <p *ngFor="let note of titles | sortNotes" (click)="jumpToNote(note.$key)">
      {{note.title | default: "untitled"}}
    </p>
  </div>
  <div *ngIf='_authData != null'>
    <p *ngFor="let note of titles | async | sortNotes" (click)="jumpToNote(note.$key)">
      {{note.title | default: "untitled"}}
    </p>
  </div>
  <hr>
  <button class="addBtn btn btn-info btn-xs" [class.cancelable]="showingCancel" (click)="toggleInput()">
         {{buttonText}}
       </button>
  <form *ngIf="adding">
    <input class="inputCategory" [(ngModel)]="groupName" type="text" id="categoryInput" placeholder="Name..." (keyup.enter)="addGroup()"
      maxlength="12">
    <button id="plusBtn" type="button" (click)="addGroup()">
        +
      </button>
  </form>
  <hr class="invisibleLine">
  <div *ngIf='_authData == null'>
    <menuGroup *ngFor="let group of myGroups | reverse" [group]="group" (groupsChanged)="groupsChanged(groups)" (closeMenu)="closeMenuMethod()"></menuGroup>
  </div>
  <div *ngIf='_authData != null'>
    <menuGroup *ngFor="let group of myGroups | async" [group]="group" (groupsChanged)="groupsChanged(groups)" (closeMenu)="closeMenuMethod()">
    </menuGroup>
  </div>
</nav>