

<nav class="navbar navbar-inverse">
  <div class="navbar-header"> 
    <a class="navbar-brand">Postnote</a>
          <div id="sidebar-wrapper" >
        <div id="sidebar_menu" class="sidebar-nav">
          <li class="sidebar-brand" >
            <a id="menu-toggle" (click)="closeSideBar()" >
              <span id="main_icon" class="glyphicon glyphicon-pencil">
              </span>
            </a>
          </li>
        </div>  
  </div>

 
    <div id="wrapper">
      <!-- Sidebar -->
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control input-sm" id="inputsm" placeholder="Search">
          </div>
          <!--Search Button-->
          <button type="submit" class="btn btn-default btn-sm">Submit</button>
        </form>
        <br/><br/><br/><br/>
        <ul *ngFor="let note of titles | async" (click)="jumpToNote(note.$key)">
          {{note.title}}
        </ul>
        <hr>     
       <button id="addBtn" class="btn btn-info btn-xs" (click)="toggleInput()">
         {{buttonText}}
       </button>
       <form *ngIf="adding"> 
        <input [(ngModel)]="groupName" type="text" id="categoryInput" placeholder="Name">
        <button id="plusBtn" type="button" (click)="addGroup()" >+</button>
       </form>
       <br>
       <br>
       <hr>

       <!-- Den här ngFor kan inte ha async den också, vad göra?-->
       <ul *ngFor="let group of myGroups | async">
         {{group.name}}
       </ul>
       
       
       <menuGroup *ngFor="let group of myGroups | async" [group]="group"></menuGroup>
      
      </div>
    </div> 
</nav>

       <div class="footer">
         <hr>
        <span class="footer-text">© 2016-Group 4 ITHS</span>
       </div>


