input {
    outline: none;
}

ul {
    -webkit-padding-start: 80px!important;
    -moz-box-pack: 80px!important;
    padding-left: 80px!important;
}
.list {
    margin: 4% 0;
    padding: 4% 0;
    color: #404040;
    cursor: pointer;
    list-style: none;
    font-size: 1.4em;
}

#container{
  /*  padding-left: 10px;
    padding-right: 10px;*/
    margin: 1% 0 1% 0;
}
/*My try*/
.groupContainer{
    position: absolute;
    width: 100%;
    background: none;
    border-radius: 2px;
    height: 45px;
    outline: none;
    border: none;
    cursor: pointer;
}


#editBtn{
  position: absolute;
  right: 45px;
  background: none;
  border-radius: 2px;
  background-size: 100%;
  background-position: center; 
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
#deleteBtn {
  position: absolute;
  right: 0;
  background: none;
  border-radius: 2px;
  background-size: 100%;
  background-position: center; 
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#arrowBtn{  
    border-radius: 2px;
    left: -3px;
    background: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
    width: 45px;
    height: 45px;
    outline: none;
    border: none;
    transition: box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
    background-color: transparent;
}



.title{
    background: none;
    border: none;
    color: #404040;
    cursor: pointer;
    outline: none;
    font-size:  1.6em;
    height: 45px;
    display: inline-block;
    color: #404040;
    background-color: transparent;
    text-align: left;
}

.editing {
    color: #404040;
    cursor: text;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}

.button_image{
   height: 35px;
   width: 35px;
}

.col-xs-9 {
    padding: 0;
    margin: 0 1% 0 1%;
    width: 50%;
}
.col-xs-offset-1 {
    padding: 0;
    margin: 0 1% 0 15.333333%;
}
