<div id="container">   
    <input id="arrowBtn" type="image" src={{arrowSrc}} [ngClass] = "{expandedClass : expanded}" width="20" height="20" (click)="toggleExpand()">
    <input readonly class="title" id={{group.$key}} [(ngModel)]="group.name" (click)="jumpToGroup(group.name)" (keyup.enter)="editGroup()">
    <input id="editBtn" type="image" src="icon_edit.png" width="20" height="20" (click)="editing()">
    <input id="deleteBtn" type="image" src="icon_delete.png" width="20" height="20" (click)="deleteGroup()">
    <!--<ul *ngIf="expanded">
        <li>Expanderad!</li>
    </ul>-->
    <ul *ngIf="expanded">
        <p *ngFor="let note of notes | async" (click)="jumpToNote(note.$key)">
          {{note.title}}
        </p>
    </ul>
</div>