input {
    outline: none;
}

p {
    color: #D2D2D2;
    cursor: pointer;
}

#container #deleteBtn{
    visibility: visible;
}
#container #editBtn{
    visibility: visible;
}

#container{
    padding-left: 10px;
    padding-right: 10px;
}

#editBtn, #deleteBtn{
    border: none;
    outline: none;
    visibility: hidden;
    background-color: transparent;
}

#arrowBtn{
    outline: none;
    background-color: transparent;
    border: none;
}

#editBtn,#deleteBtn{
    border-radius: 2px;
    visibility: hidden;
    transition: background-color 150ms ease-in-out;
}

.title{
    background: none;
    border: none!important;
    color: white;
    cursor: pointer;
}

.title {
    color: white;
    cursor: pointer;
}

.editing {
    color: gray;
}

.editing {
    color: gray;
    cursor: text;
}

.button_image{
    width: 22px;
    height: 22px;
}