/*.noteContainer {
 overflow: auto;
 box-shadow: 0px 2px 5px gray;
 max-width: 97%;
 margin: 1.5%;
 display: table-cell;
 position: relative;
 float: left;
}*/
.noteClass {
  height: 300px;
}

.noteClass:hover .edit_button {
  visibility: visible;
}

.noteClass:hover  .delete_button {
  visibility: visible;
}
.titleBox {
  /*margin: 0 6px 0 6px;*/
}

.delete_button {
  margin-top: 6px;
   border-radius: 2px;
   visibility: hidden;
   float: left;
   background: none;
   background-image: url("../icon_delete.png");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   height: 30px;
   width: 8.33333333%;  
   outline: none;
   border: none;
   z-index: 1000;
   transition: box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
}
@media all and (min-width) {
  .delete_button {
    height: 25px;
  }
}

.delete_button:hover {
  box-shadow: 0px 1px 5px #5A5A5A ;
  background-color: #F44336 ;
}

.edit_button {
  margin-top: 6px;
  border-radius: 2px;
  visibility: hidden;
  background-image: url('icon_edit.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:  center;
  height: 36px;
  width: 8.33333333%; 
  float: left;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
}

@media all and (min-width: 501px) {
  .edit_button {
    margin-top: 4px;
  }

}

.edit_button:hover {
  box-shadow: 0px 1px 5px #5A5A5A; 
  background-color: #4CAF50;
}

.title {
  display: block;
  height: 36px;
  font-size: 28px;
  float: left;
  margin-top: 5px;
  padding-bottom: .7em;
  padding-top: .5em;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.title::-webkit-input-placeholder {
    color: black;
}


.text_field {
 height: 200px;
 /* margin: 10px;*/
  margin-bottom: 0;
 /* padding: 5px;*/
  background-color: transparent;
  overflow: scroll;
  resize: none;
  border: none;
  outline: none;
  
}

.selectedNoteTitle {
  border: dashed 1px black;
}

.selectedNoteText {
  border: dashed 1px black;
}

.savable {
  background-image: url('icon_save.png');
  visibility: visible;
}

.visible_dropdown {
  visibility: visible;
}

dropdown {
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  /*margin: 0 0 6px 6px;*/
}

colorpicker {
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 6px 6px 0;

}

.visible_colorpicker {
  visibility: visible;
}
.pink_color {
    background-color: #F490B7;
}

.orange_color {
    background-color: #FFA334;
}

.magenta_color {
    background-color: #F56D7E;
}

.blue_color {
    background-color: #8FD3CE;
}

.yellow_color {
    background-color: #EEF66C;
}

.green_color {
    background-color: mediumseagreen;
}

