<div class='box'>
  <div class="noteClass content" (click)="editClick()" [class.pink_color]="isPink" [class.magenta_color]="isMagenta"
    [class.orange_color]="isOrange" [class.blue_color]="isBlue" [class.yellow_color]="isYellow"
    [class.green_color]="isGreen">

    <div class="row titleBox">
      <button class="delete_button" [class.deleteButtonVisible]="isEditable"
        (click)="deleteClick()">
    </button>

      <button class="saveButton" [class.saveButtonVisible]="isEditable" 
      (click)="save()">  
      </button>
      <input type="text" (click)="editClick()" [class.selectedNoteTitle]="isEditable"
        [(ngModel)]="title" class="title col-xs-10 col-xs-offset-1"
        maxlength="12" placeholder="Title ...">

      </div>

    <div class="row box">

      <textarea (click)="editClick()" [class.selectedNoteText]="isEditable"
        [(ngModel)]="text" class="text_field col-xs-10 col-xs-offset-1 content"
        placeholder="Make a note ..."></textarea>
    </div>

    <dropdown class="group_dropdown" [class.visible_dropdown]="isEditable"
      [noteGroup]="selectedNoteGroup" (changeNoteGroup)="noteGroupChanged($event)"></dropdown>

    <colorpicker (changeColor)="colorChanged($event)" [class.visible_colorpicker]="isEditable"></colorpicker>
  </div>
</div>