<div class="noteContainer">
  <input class="delete_button" type="image" src="icon_delete.png" alt="Submit" width="25" height="25" (click)="deleteClick()">
  <input [attr.disabled]="enabledIfNull" [class.selectedNote]="isEditable" [(ngModel)]="title" class="title">
  <input class="edit_button" type="image" src="icon_edit.png" alt="Submit" width="25" height="25" (click)="editClick()">
  <br>
  <textarea [attr.disabled]="enabledIfNull" [class.selectedNote]="isEditable" [(ngModel)]="text" class="text_field"></textarea>
</div>