
.noteClass {
  box-shadow: 0px 2px 5px gray;
}

.box{
	position: relative;
	width: 100%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.editDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.editDivHidden {
  display: none;
}
/*
.noteClass:hover .edit_button {
  visibility: visible;
}

.noteClass:hover  .delete_button {
  visibility: visible;

}*/


.delete_button {
   visibility: hidden;
   margin-top: 6px;
   border-radius: 2px;
   position: absolute;
   top: 0;
   left: 2px;
   background: none;
   background-image: url('icon_delete.png');
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   height: 25px;
   width: 25px;  
   outline: none;
   border: none;
   transition: box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
}


.deleteButtonVisible {
  visibility: visible;
}

.saveButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border-radius: 2px;
  visibility: hidden;
  background-image: url('icon_save.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 25px;
  width: 25px;  
  outline: none;
  border: none;
  margin-top: 6px;
  cursor: pointer;
}

.saveButtonVisible {
  visibility: visible;
}

.title {
 -moz-appearance: none !important;
 -webkit-appearance: none !important; 
 -webkit-appearance: textfield !important;
  color: #404040;
  opacity: 1.0; 
  display: block;
  height: 40px;
  font-size: 2em !important;
  float: left;
  margin-top: 5px;
  padding-bottom: .7em;
  padding-top: .5em;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
}

 @-moz-document url-prefix() { 
   .title { 
     padding-bottom: 0!important;
     padding-top: 0!important;
     }
    }
    
.title::-webkit-input-placeholder {
    color: #606060;
}
textarea {
    -moz-appearance: none !important;
    -moz-text-fill-color: #404040; /* Override iOS / Android font color change */
    -moz-opacity:1; 
    -webkit-appearance: none !important;
    -webkit-text-fill-color: #404040; /* Override iOS / Android font color change */
    -webkit-opacity:1; /* Override iOS opacity change affecting text & background color */
    color: #404040; /* Override IE font color change */
}

.text_field {
   -moz-appearance: none !important;
 -webkit-appearance: none !important; 
 -webkit-appearance: textfield !important;
  color: #404040;
  background-color: transparent;
  height: 200px;
  margin-top: 3%;
  margin-bottom: 0;
  overflow: auto;
  resize: none;
  border: none;
  outline: none;
  
}

.text_field::-webkit-input-placeholder {
  color: #606060;
}

.selectedNoteTitle {
  border: dashed 1px black;
}

.selectedNoteText {
  border: dashed 1px black;
}

.visible_dropdown {
  visibility: visible;
}

dropdown {
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  /*margin: 0 0 6px 6px;*/
}

colorpicker {
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 6px 6px 0;

}

.visible_colorpicker {
  visibility: visible;
}
.pink_color {
    background-color: #F490B7;
}

.orange_color {
    background-color: #FFA334;
}

.magenta_color {
    background-color: #F56D7E;
}

.blue_color {
    background-color: #8FD3CE;
}

.yellow_color {
    background-color: #EEF66C;
}

.green_color {
    background-color: mediumseagreen;
}

