<!--<headerbar (openSideBar)="openSideBar($event)"></headerbar>-->
<div class="container">
  <!--Top navbar-->
  <div class="navbar_item navbar-inverse">
    <button class="backBtn">
       <img class="btnImage" src="{{btnImage}}" (click)="openSideBar()" alt="backButton">
   </button>

  </div>

  <div class="row">
    <div class="col-xs-4" *ngIf="statusCheckSideBar == true">
      <menu (clicked)="addGroup()"></menu>
    </div>

    <div class="note_groups">
      <div>
        <creator></creator>
      </div>
      <group (clickedDelete)="deleteGroup()" class="row" *ngFor="let group of allGroups | async" [group]="group" [groupName]="group.name" onload ="delaySidebar()">
      </group>
    </div>
  </div>
  <!--</div>-->
</div>