/*creator{
	margin-top: 25px;
	float: left;
	width: 100%;
	margin-top: 10px;
}*/

menu{
    width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
	z-index: 0;
}
.container-fluid{
	/*position: absolute;*/
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.navbar_item{
	background-color: #EEEEEE;
	margin-bottom: 0px;
	border-radius: 0px;
	display: block;
	width: 100%;
	height: 50px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10000;
}

.websiteTitle {
	color: #404040;
	width: 50%;
	padding: 8px;
	margin: auto;
	font-size: 30px;
}

.cbp-af-header-shrink {
	height: 50px;
	opacity: 0.8;
}

.backBtn{
	outline: none;
	border: none;
	margin: 12px;
	background-color: transparent;
	z-index: 2;
	padding: 0;
	float: left;
}

.btnImage{
	height: 25px;
	width: 25px;
}

.note_groups{
	margin-top: 50px;
	margin-bottom: 70px;
}

.shadow {
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5;
}

.shadow_active {
	display: block;
}