<div class="container">
  <div class="row">
    <div class="col-xs-2" *ngIf="statusCheckSideBar == true">
      <menu (clicked)="addGroup()"></menu>
    </div>
    <div class="col-xs-1">
      <a id="menu-toggle" (click)="openSideBar()">   
        <button type="button" class="btn btn-lg" id="slideButton">
          <span class="pull-right"> 
            <img src="icon_menu.png" alt="menu">
          </span>
        </button>
      </a>
    </div>
    <div [ngClass]="{'col-xs-9': statusCheckSideBar, 'col-xs-11': !statusCheckSideBar}">
      <div class="row">
        <creator></creator>
      </div>   
      <group class="row" *ngFor="let group of allGroups | async" [group]="group" [groupName]="group.name">         
      </group>
      </div>
  </div>
</div>

<router-outlet></router-outlet>