<div class="createUser">
        <form  [ngFormModel]="myForm" novalidate (ngSubmit)="onCreateAccount()">
            <div class="input-group">
                <input [ngFormControl]="myForm.find('email')" type="email" placeholder="Email" id="email">
            </div>
            <div class="input-group">
                <input [ngFormControl]="myForm.find('password')" type="password" placeholder="Password" id="password">
            </div>
            <div class="input-group">
                <input [ngFormControl]="myForm.find('confirmPassword')" type="password" placeholder="Confirm password" id="confirm-password">
            </div>
                <button id="col2" class="noColor button col-xs-6" type="button" (click)="switchBackToLoginComponent()">Back</button>
                <button id="col1"  class="button col-xs-6" type="submit">Create account</button>
        </form>
</div>