/* Resetting browser and set font-family and basic settings.*/
 
html, body  {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #F5F5F5;

}
h1 {
    text-align: center;
    color: #999999;
    font-size: 5em;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

