<div id="container">
    
    <div class="creator">
    <input type="text" [(ngModel)]="title" class="inputTitle" placeholder="enter title.."> 
    <button id="saveButton" (click)="save()">+</button><br>
    <textarea class="inputText" [(ngModel)]="text" placeholder="Your notes.." name="inputText" cols="30" rows="10"></textarea>
    </div>
    <!--<div *ngFor="#note of notes">
        <span class="creator">{{note.title}}<br>{{note.text}}</span>
    </div> -->
    

         <!-- <note *ngFor="#note of notes" [noteInNote]="note"> -->
    
    <ul>
        <li *ngFor="#note of notes | async">
            {{ item | json }}
        </li>
            
    </ul>
    
</div>