/* Resetting browser and set font-family and basic settings.*/
 
html, body  {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	font-family: 'Open Sans', Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;

}
h1 {
    text-align: center;
    color: #999999;
    font-size: 5em;
}
creator{
	float: left;
	width: 100%;
}
menu{
	float: left;
	padding: 0px;
	margin: 0px;
}
.container{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
